.title {
  text-align: center;
  color: #eceff4;
}

.gain {
  color: #ed8796;
}

.loss {
  color: #a6da95;
}

html {
  background-color: #24273a;
  /*background-color: #fff;*/
}

.weightViz 

.weightDelta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deltaText {
  margin: 10px;
  color: black;
  color: #cad3f5;
}

.deltaNum {
  margin: 10px;
}

.weightGraph {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weightGraphLineChart {
  align-items: center;
  text-align: center;
  width: 100%;
}

.weightViz {
  width: 50%;
}

.deltas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lastWeightContainer {
  display: flex;
  justify-content: space-around;
}

.lastWeightDelta {
  text-align: center;
}

.lastWeight {
  text-align: center;
}

.mainText {
  font-size: 10vw;
}

.weightSenderContainer {
  padding-top: 10px;
  align-items: center;
  text-align: center;
}

#weightEntryBox {
  background-color: #5b6078;
  color: #cad3f5;
  font-size: 1rem;
  border: none;
}

#send {
  font-size: 1rem;
}

#force {
  display: none;
  font-size: 1rem;
}

.loginForm {
  padding: 25% 25%;
}

.loginFormContainer {
  background-color: #4c566a;
  padding: 10px 20px;
}

.loginForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginForm button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  opacity: 0.8;
}

.loginForm label {
  color: #eceff4;
}

.loginHeader {
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eceff4;
}

.loginHeader button {
  background-color: #24273a;
}

.statsContainer {
  display: flex;
  
}

.statsContainer h2 {
  margin-top: 30px;
  flex: 1;
  border: 2px
}

.statsContainer ul {
  list-style-type: none;
  font-family: Helvetica, sans-serif
}

.statsText {
  color: #eceff4;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .deltas {
    flex-direction: column;
  }
  .weightViz {
    width: 75%;
  }
  .mainText {
    font-size: 20vw;
  }
}